:root {
  --color-white: #fff;
  --color-black: #000;
  --color-text: #424242;
  --color-theme: #3d55ef;
  --color-main-menu-theme: #fd4145;

  --spacing-block: 15px;

  --size-folded-img: 40px;
  --size-folded-img-small: 35px;
}

* {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  line-height: 1.4rem;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--color-black);
}

/* RESPONSIVE */
.grid {
  width: 1200px;
  max-width: 100%;
  padding: 0 var(--spacing-block);
  margin: 0 auto;
}

.grid__row {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * --spacing-block);
  margin-right: calc(-1 * --spacing-block);
}

.grid__col-12 {
  padding-left: var(--spacing-block);
  padding-right: var(--spacing-block);
  width: 100%;
}

.grid__col-11 {
  padding-left: var(--spacing-block);
  padding-right: var(--spacing-block);
  width: calc(100% / 12 * 11);
}

.grid__col-10 {
  padding-left: var(--spacing-block);
  padding-right: var(--spacing-block);
  width: calc(100% / 12 * 10);
}

.grid__col-9 {
  padding-left: var(--spacing-block);
  padding-right: var(--spacing-block);
  width: calc(100% / 12 * 9);
}

.grid__col-8 {
  padding-left: var(--spacing-block);
  padding-right: var(--spacing-block);
  width: calc(100% / 12 * 8);
}

.grid__col-7 {
  padding-left: var(--spacing-block);
  padding-right: var(--spacing-block);
  width: calc(100% / 12 * 7);
}

.grid__col-6 {
  padding-left: var(--spacing-block);
  padding-right: var(--spacing-block);
  width: calc(100% / 12 * 6);
}

.grid__col-5 {
  padding-left: var(--spacing-block);
  padding-right: var(--spacing-block);
  width: calc(100% / 12 * 5);
}

.grid__col-4 {
  padding-left: var(--spacing-block);
  padding-right: var(--spacing-block);
  width: calc(100% / 12 * 4);
}

.grid__col-3 {
  padding-left: var(--spacing-block);
  padding-right: var(--spacing-block);
  width: calc(100% / 12 * 3);
}

.grid__col-2 {
  padding-left: var(--spacing-block);
  padding-right: var(--spacing-block);
  width: calc(100% / 12 * 2);
}

.grid__col-1 {
  padding-left: var(--spacing-block);
  padding-right: var(--spacing-block);
  width: calc(100% / 12 * 1);
}

/* ANIMATION */
@keyframes fadeIn {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes cornerFold {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* POSTS IMAGE */
.post-img {
  position: relative;
}

.post-img:hover {
  opacity: 0.85;
}

.post-img:hover .post-img-animation,
.post-img:hover .post-img-small-animation {
  display: block;
}

.post-img-animation,
.post-img-small-animation {
  position: absolute;
  bottom: 0;
  right: 0;
  animation: cornerFold ease 0.3s;
  transform-origin: right bottom;
  display: none;
}

.post-img-animation {
  border-top: var(--size-folded-img) solid var(--color-theme);
  border-right: var(--size-folded-img) solid currentColor;  
}

.post-img-small-animation {
  border-top: var(--size-folded-img-small) solid var(--color-theme);
  border-right: var(--size-folded-img-small) solid currentColor;  
}

/* NOTIF */
.notif {
  color: var(--color-white);
  border-radius: 5px;
  text-transform: uppercase;
}

.notif--new {
  font-size: 12px;
  padding: 7px;
  margin: 0 10px;
  background-color: #4cc493;
}

.notif--hot {
  font-size: 10px;
  padding: 3px 5px;
  margin: -1px 7px 0;
  background-color: #ea3465;
}

.notif--parallax {
  font-size: 10px;  
  padding: 3px 5px;
  margin: -3px 7px 0;
  background-color: #2b44ff;
}