/* Tablet & Mobile */
@media (max-width: 990px) {
  .hide-on-tablet-mobile {
    display: none;
  }

  .show-on-tablet-mobile {
    display: block;
  }  

  .header-center h1 {
    padding-top: 0;
  }

  .main-menu-bar {
    display: flex;
  }
  
  .header-search__input-wrapper {
    top: 200px;
  }

  .header-search__input {
    width: 300px;
  }

  .showcase {
    display: block;
    height: auto;
  }

  .showcase-left,
  .showcase-right,
  .showcase-center {
    width: 100vw;    
  }
   
  .showcase-left .post-img,
  .showcase-right .post-img {
    height: 300px;
  }

  .showcase-center .post-img {
    height: 600px;
  }

  .showcase .post-title {
    font-size: 2.1rem;
  }

  .carousel .post-title {
    font-size: 2.1rem;
    line-height: 2.7rem;
  }

  .subscribe-title {
    font-size: 3.4rem;
    line-height: 4.2rem;
    text-align: center;
  }

  .subscribe-desc {
    text-align: center;
    line-height: 1.8rem;
  }

  .carousel-bottom {
    margin-bottom: 10px;
  }

  .carousel-bottom .post {
    margin-bottom: 50px;
  }

  .showcase-bottom {
    display: none;
  }

  .content-sidebar-wrapper {
    flex-wrap: wrap;
  }

  .main-sidebar {
    margin-left: 0;
  }

  .widget__latest-post .post-details {
    max-width: unset;
  }

  .widget__popular-post .post-img-wrapper {
    height: 400px;
  }

  .content.highlight-post .row {
    flex-wrap: wrap-reverse;
  }

  .content.highlight-post .post-img-wrapper {
    width: auto;
  }
  
    .content.highlight-post .wrapper {
      margin-left: 0;
    }

  .content.highlight-post .content-heading {
    margin-bottom: 45px;
  }
}

/* Tablet */
@media (min-width: 569px) and (max-width: 990px) {
  .hide-on-tablet {
    display: none;
  }

  .show-on-tablet {
    display: block;
  }  

  .header-content .header-left {
    margin-left: auto;
    width: unset;
  }

  .header-content .header-center {
    order: -1;
  }

  .header-content .header-right {
    width: unset;
  }

  .header-search__input {
    font-size: 1.8rem;
  }

  .header-search__input-wrapper .btn {
    transform: translateX(-2px);
  }

  .content-body .post-img {
    height: 320px;
  }

  .content.highlight-post .post-img-wrapper {
    /* padding-left: 35px; */
    max-width: 100%;
  }

}

/* Mobile */
@media (max-width: 568px) {
  .hide-on-mobile {
    display: none;
  }

  .show-on-mobile {
    display: block;
  }

  .header-content {
    justify-content: unset;
  }

  .header-content .header-right {
    margin-left: auto;
  }

  .header-search__input {
    padding: 10px 15px;
    line-height: 1.8rem;
    font-size: 1.4em;
    border-radius: 5px;
  }

  .content-body .post-title {
    font-size: 2rem;
    line-height: 2.8rem;
  }

  .content-body .post-img {
    height: 220px;
  }

  .subscribe-wrapper {
    padding-left: 30px;
    padding-right: 30px;
  }

  .subscribe-input {
    width: 100%;
    margin-bottom: 15px;
  }

  .subscribe-input-wrapper .btn {
    width: 100%;
  }

  .content-sidebar-wrapper .content {
    padding-left: 15px;
    padding-right: 15px;
  }

  .post.post--recent {
    display: block;
    height: unset;
  }

  .post.post--recent .post-img-wrapper {
    /* a tag */
    display: block;
    height: 400px;
    margin-bottom: 35px;
  }

  .post.post--recent .post-img {
    width: 100%;
  }

  .post.post--recent .post-paragraph ~ .btn {
    display: none;
  }
    
}

/* Customize resolution */
@media (max-width: 1024px) {
  .header-center h4 {
    display: none;
  }
}

@media (min-width: 226px) and (max-width: 568px) {  
  .carousel .post-img-wrapper {
    height: 340px;
  }
}

@media (min-width: 569px) and (max-width: 594px) {
  .subscribe-wrapper {
    padding-left: 30px;
    padding-right: 30px;
  }

  .subscribe-input {
    width: 100%;
    margin-bottom: 15px;
  }

  .subscribe-input-wrapper .btn {
    width: 100%;
  }
}

@media (max-width: 1200px) {
  .post.post--recent .btn {
    display: none;
  }
}
